.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  letter-spacing: 0.1em;
  line-height: 1.5;  
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height:15px;   
  background-color: #E1E1E1;
  padding: 20px 0px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-link {
  color: #FAFAFA;
  margin-left: 20px;
}

.logo {
  max-width: 50px;
  max-height: auto;
}


/* Center title */
title {
  text-align: center;
}

.profile_photo {
    padding:40px 0px 10px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.profile_photo + p {
    text-align: center;
}

body {
  font-size: 100%;
}

p {
  font-size: 1.5em;
}


/* Header styles */
.header,h1{
    text-align:center;
    padding: 20px 0px;
    font-size: 2em;
}

/* Header styles */
h2{
    text-align:center;
    padding: 30px 0px;
}
.profile_photo{
    border-radius: 50%; 
    width: 200px; 
    height: 200px;
}

.links{
    
}

/* Remove default styles for the unordered list */
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Wrap the list items to a new line when there's not enough space on the current line */
  justify-content: center; /* Center the list items horizontally */
}

/* Specify the width and margin for each list item */
li {
  width: 30%;
  margin: 10px;
}

/* Remove the underline and change the color for the link */
a {
  display: block;
  text-decoration: none;
  color: #1E1E1E;
}

/* Add styles for the project card */
.card {
  background-color: #FAFAFA;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the card */
  border-radius: 10px; /* Round the corners of the card */
  overflow: hidden; /* Clip content that overflows the card */
  text-align: center; /* Center the text content vertically and horizontally */
  padding: 20px;
  height: 500px; /* add a fixed height */
  transition: all 0.3s ease-in-out; /* Add transition effect */  
}

.card:hover {
  transform: translateY(-10px); /* Move up by 10px */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Increase shadow size */
}

/* Make the image fill the width of the card */
img {
  width: 100%;
  height: auto;
  max-width: 400px; /* set a maximum width */
  margin-bottom: 20px;
/*   filter: grayscale(100%); */
  filter: sepia(25%);  
}

/* Add a margin to the heading */
h2 {
  margin: 10px 0 0 0;
}

/* Change the font size for the description */
p {
  font-size: 14px;
  margin: 0;
}

/* Change the layout for smaller screens */
@media (max-width: 767px) {
  li {
    width: 100%; /* Make each list item fill the full width of the screen */
  }
}
